

.enrolledTrue {
	background-color:#ADD8E6;
}

th{
	border-style: solid;
	border-color: black;
	border-width: thin;
}
td{
	border-style: solid;
        border-color: black;
        border-width: thin;
}
