
    /* Anywhere paragraph make Green, centerd paragraphs */
p{
    color: green;
    text-align: center;
}
/* Anywhere strong text make Blue*/
strong {
    color: blue;
}

/*Class example*/
.warning{
    color: #6a6a05;
}
.description {
    color: green;
    text-align: center;
}
.emphasize {
    color: blue;
}

/* ID example */
#title {
    text-align: center;
}
/* Restricting Scope example. Only h1 with warning tag will be orange */
h1.warning {
    color: orangered;
}
/*Example Color */
.exColor{
    background-color: aqua;
    color:darkgreen;
}
